h3( style: 'float: right' )
  a( href: '/admin/posts/new' ) Write new post
- each record in records
  .record
    .side!= record.created_at.format('d mmm<br/>yyyy')
    .content
      h3.title
        a( href: '/admin/posts/' + record.id + '/edit' )= record.title
      .preview!= record.preview
