<div class="create">
  <% form_for(post, {action: admin_posts({locale: locale})}, function (form) { %>
    <div class="fields"><%- partial('form', {object: post, as: 'post', locals: {form: form}}) %></div>
  <% }); %>
</div>
