!!!
html
  head
    title Admin area
    link(rel='stylesheet', href='/stylesheets/style.css?' + (new Date).getTime())
    script( src: '/utils.js?' + (new Date).getTime())
  body
    #wrapper
      .header
        h1
          a( href: '/', title: 'Node. js — событийно-ориентированный фреймворк на движке V8 JavaScript' ) Узел JS*
        h2 * JavaScript — объектно-ориентированный скриптовый язык программирования
      .content!= body
        :javascript
          | wmd_options = {
          |    output: "markdown"
          | };
        script( src: '/javascripts/wmd/wmd.js' )
