- each record in records
  .record
    .side!= record.created_at.format('d mmm<br/>yyyy')
    .content
      h3.title
        a( href: '/' + record.link() )= record.title
      .preview!= record.preview
