!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css?' + (new Date).getTime())
  body
    #wrapper
      .header
        h1 node blog
        h2 javascripts, nodes, codes
      .content!= body
    #footer
      .left_bg
        .right_bg
        .footer_center
