!!!
html
  head
    title= title
    meta( name: 'description', content: meta_description )
    meta( name: 'keywords', content: meta_keywords )
    script( type: "text/javascript", src: "/javascripts/highlight/highlight.pack.js" )
    :javascript
      | hljs.tabReplace = '    ';
      | hljs.initHighlightingOnLoad();
    link(rel='stylesheet', href='/stylesheets/style.css?' + (new Date).getTime())
    :javascript
      |  var _gaq = _gaq || [];
      |  _gaq.push(['_setAccount', 'UA-20355413-1']);
      |  _gaq.push(['_trackPageview']);
      |  (function() {
      |    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      |    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      |    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      |  })();
    link(rel='stylesheet', href='/javascripts/highlight/styles/github.css')
  body
    #wrapper
      .header
        h1
          a( href: '/', title: 'Node. js — событийно-ориентированный фреймворк на движке V8 JavaScript' ) Узел JS*
        h2 * JavaScript — объектно-ориентированный скриптовый язык программирования
      .content!= body
