!!!
html
  head
    title= title
    script( type: "text/javascript", src: "/javascripts/highlight/highlight.pack.js" )
    :javascript
      | hljs.tabReplace = '    ';
      | hljs.initHighlightingOnLoad();
    link(rel='stylesheet', href='/stylesheets/style.css?' + (new Date).getTime())
    link(rel='stylesheet', href='/javascripts/highlight/styles/github.css')
  body
    #wrapper
      .header
        h1
          a( href: '/', title: 'Node. js — событийно-ориентированный фреймворк на движке V8 JavaScript' ) Узел JS*
        h2 * JavaScript — объектно-ориентированный скриптовый язык программирования
      .content!= body
